Source: spreedbox-fpgaprog
Section: utils
Priority: extra
Maintainer: struktur AG <opensource@struktur.de>
Uploaders:
 Simon Eisenmann <simon@struktur.de>
Build-Depends:
 debhelper,
 dpkg-dev (>= 1.16.1~),
 libwiringpi2
Standards-Version: 3.9.5

Package: spreedbox-fpgaprog
Architecture: any
Breaks:
 dotstar-leds (<< 0.3.0),
 spreedbox-entropy (<< 1.3.0),
 spreedbox-rng (<< 0.1.0),
Depends:
 libwiringpi2,
 ${shlibs:Depends},
 ${misc:Depends}
Description: Program utility for the Spreedbox FPAG.
 This package provides programming utilities and bitmaps for the
 Spreedbox FPGA.

