Source: spreedbox-fpgaprog
Section: utils
Priority: extra
Maintainer: struktur AG <opensource@struktur.de>
Uploaders:
 Simon Eisenmann <simon@struktur.de>
Build-Depends:
 debhelper,
 dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.3

Package: spreedbox-fpgaprog
Architecture: any
Depends:
 ${shlib:Depends},
 ${misc:Depends}
Description: Program utility for the Spreedbox FPAG.
 This package provides programming utilities and bitmaps for the 
 Spreedbox FPGA.

